In [1]:
conda install -c conda-forge gmaps

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

In [22]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Humidity,Lat,Lng,Max Temp,Humidity.1,Cloudiness,Wind Speed
0,0,Hilo,US,2022-04-13 00:04:20,84,19.7297,-155.0900,82.27,84,75,3.44
1,1,Sarab,IR,2022-04-13 00:07:22,48,38.6066,44.9883,48.69,48,0,1.03
2,2,Cosmopolis,BR,2022-04-13 00:07:23,89,-22.6458,-47.1961,70.97,89,91,0.63
3,3,Busselton,AU,2022-04-13 00:07:23,75,-33.6500,115.3333,58.41,75,0,9.33
4,4,Lorengau,PG,2022-04-13 00:07:23,68,-2.0226,147.2712,84.42,68,18,5.39

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Humidity        int64
Lat           float64
Lng           float64
Max Temp      float64
Humidity.1      int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [16]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Humidity,Lat,Lng,Max Temp,Humidity.1,Cloudiness,Wind Speed
0,0,Hilo,US,2022-04-13 00:04:20,84,19.7297,-155.0900,82.27,84,75,3.44
4,4,Lorengau,PG,2022-04-13 00:07:23,68,-2.0226,147.2712,84.42,68,18,5.39
9,9,Auki,SB,2022-04-13 00:07:24,56,-8.7676,160.7034,86.29,56,81,2.42
10,10,Georgetown,MY,2022-04-13 00:06:00,89,5.4112,100.3354,78.73,89,20,0.00
11,11,La Orilla,MX,2022-04-13 00:07:25,69,17.9833,-102.2333,80.56,69,100,9.06
13,13,Calnali,MX,2022-04-13 00:07:25,38,20.9167,-98.5833,80.22,38,81,6.67
14,14,Pochutla,MX,2022-04-13 00:07:26,62,15.7432,-96.4661,85.82,62,100,8.86
18,18,Faridnagar,IN,2022-04-13 00:07:27,15,28.7667,77.6167,82.31,15,39,6.73
27,27,Dire,ML,2022-04-13 00:07:29,43,12.2833,-10.9667,86.36,43,98,3.11
31,31,Nerang,AU,2022-04-13 00:07:30,80,-27.9833,153.3333,77.94,80,31,1.99

In [17]:
preferred_cities_df.count()

City_ID       172
City          172
Country       172
Date          172
Humidity      172
Lat           172
Lng           172
Max Temp      172
Humidity.1    172
Cloudiness    172
Wind Speed    172
dtype: int64

In [20]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
0         Hilo      US     82.27  19.7297 -155.0900
4     Lorengau      PG     84.42  -2.0226  147.2712
9         Auki      SB     86.29  -8.7676  160.7034
10  Georgetown      MY     78.73   5.4112  100.3354
11   La Orilla      MX     80.56  17.9833 -102.2333
13     Calnali      MX     80.22  20.9167  -98.5833
14    Pochutla      MX     85.82  15.7432  -96.4661
18  Faridnagar      IN     82.31  28.7667   77.6167
27        Dire      ML     86.36  12.2833  -10.9667
31      Nerang      AU     77.94 -27.9833  153.3333

In [21]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [24]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found ... skipping.")

Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.

In [25]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Hilo,US,82.27,19.7297,-155.0900,Hilo Hawaiian Hotel
4,Lorengau,PG,84.42,-2.0226,147.2712,Lorengau Harbourside Hotel
9,Auki,SB,86.29,-8.7676,160.7034,Auki Motel
10,Georgetown,MY,78.73,5.4112,100.3354,Cititel Penang
11,La Orilla,MX,80.56,17.9833,-102.2333,Baymont by Wyndham Lazaro Cardenas
13,Calnali,MX,80.22,20.9167,-98.5833,CLETO LOPEZ TELLEZ
14,Pochutla,MX,85.82,15.7432,-96.4661,Hotel Posada San Jose
18,Faridnagar,IN,82.31,28.7667,77.6167,RQ Rizwan Home
27,Dire,ML,86.36,12.2833,-10.9667,
31,Nerang,AU,77.94,-27.9833,153.3333,RACV Royal Pines Resort Gold Coast

In [26]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>County</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""

In [29]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [30]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))